@import "tailwindcss";

/* The default Tailwind CSS theme. You can take what you need for your own theme. */
/* https://tailwindcss.com/docs/theme#default-theme-variable-reference */

@theme {
  /* Reset default theme */
  --*: initial;

  /* Define custom theme */
  /* The Manrope font is optimized using Next.js and passed as a variable(--next-font-manrope) from the root html tag. */
  --font-sans: "Manrope", ui-sans-serif, system-ui, sans-serif;

  --color-primary-0: #ffffff;
  --color-primary-100: #e5e5e5;
  --color-primary-200: #c7c7c7;
  --color-primary-300: #a4a4a4;
  --color-primary-400: #787878;
  --color-primary-500: #292929;
  --color-primary-600: #252525;
  --color-primary-700: #202020;
  --color-primary-800: #1a1a1a;
  --color-primary-900: #121212;

  --color-secondary-100: #f7f7f7;
  --color-secondary-200: #eeeeee;
  --color-secondary-300: #dcdcdc;
  --color-secondary-400: #c8c8c8;
  --color-secondary-500: #a5a5a5;
  --color-secondary-600: #9b9b9b;
  --color-secondary-700: #878787;
  --color-secondary-800: #6e6e6e;
  --color-secondary-900: #4e4e4e;

  --color-hero-fallback: #637580;

  --spacing: 0.125rem;

  --breakpoint-sm: 40rem;
  --breakpoint-md: 48rem;
  --breakpoint-lg: 64rem;
  --breakpoint-xl: 80rem;
  --breakpoint-2xl: 96rem;

  --container-3xs: 16rem;
  --container-2xs: 18rem;
  --container-xs: 20rem;
  --container-sm: 24rem;
  --container-md: 28rem;
  --container-lg: 32rem;
  --container-xl: 36rem;
  --container-2xl: 42rem;
  --container-3xl: 48rem;
  --container-4xl: 56rem;
  --container-5xl: 64rem;
  --container-6xl: 72rem;
  --container-7xl: 80rem;

  --text-2xs: 0.625rem;
  --text-2xs--line-height: 150%;

  --text-xs: 0.75rem;
  --text-xs--line-height: 150%;

  --text-sm: 0.875rem;
  --text-sm--line-height: 150%;

  --text-base: 1rem;
  --text-base--line-height: 150%;

  --text-lg: 1.125rem;
  --text-lg--line-height: 150%;

  --text-xl: 1.25rem;
  --text-xl--line-height: 150%;

  --text-2xl: 1.5rem;
  --text-2xl--line-height: 150%;

  --text-3xl: 1.75rem;
  --text-3xl--line-height: 150%;

  --text-4xl: 2rem;
  --text-4xl--line-height: 150%;

  --text-5xl: 2.5rem;
  --text-5xl--line-height: 150%;

  --text-6xl: 3rem;
  --text-6xl--line-height: 150%;

  --text-7xl: 3.5rem;
  --text-7xl--line-height: 150%;

  --text-8xl: 4.25rem;
  --text-8xl--line-height: 140%;

  --font-weight-medium: 500;
  --font-weight-semibold: 600;
  --font-weight-bold: 700;

  --radius-xs: 0.375rem;
  --radius-sm: 0.5rem;
  --radius-md: 0.625rem;
  --radius-lg: 0.75rem;
  --radius-xl: 1rem;

  --blur: 4px;

  --animate-ping: ping 1s cubic-bezier(0, 0, 0.2, 1) infinite;

  @keyframes ping {
    75%,
    100% {
      transform: scale(2.5);
      opacity: 0;
    }
  }
}

@layer base {
  html {
    @apply scroll-smooth antialiased;

    scrollbar-gutter: stable both-edges;
  }

  body {
    @apply text-primary-500 font-sans font-medium;
  }
}

@layer components {
  .bg-hero {
    background-image: url("/hero.webp");
    background-color: var(--color-hero-fallback);
    background-position: 60% 0%;
    background-size: auto 150%;
    background-repeat: no-repeat;

    @media (min-width: 1024px) {
      background-position: 60% 15%;
      background-size: cover;
    }
  }
}

/* Extend the container with your own styles. */
/* https://tailwindcss.com/docs/upgrade-guide#container-configuration */
@utility container {
  @apply mx-auto px-12 xl:px-24;
}

@utility grid-cols-auto-* {
  grid-template-columns: repeat(--value(integer), auto);
}

@utility grid-rows-auto-* {
  grid-template-rows: repeat(--value(integer), auto);
}

@utility h-2px {
  height: 2px;
}
