@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @font-face {
    font-family: 'Manrope';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url(../assets/fonts/Manrope-Regular.ttf) format('truetype');
  }
  @font-face {
    font-family: 'Manrope';
    font-style: normal;
    font-weight: 500;
    font-display: swap;
    src: url(../assets/fonts/Manrope-Medium.ttf) format('truetype');
  }
  @font-face {
    font-family: 'Manrope';
    font-style: normal;
    font-weight: 600;
    font-display: swap;
    src: url(../assets/fonts/Manrope-SemiBold.ttf) format('truetype');
  }
  @font-face {
    font-family: 'Manrope';
    font-style: normal;
    font-weight: 700;
    font-display: swap;
    src: url(../assets/fonts/Manrope-Bold.ttf) format('truetype');
  }
}

@layer base {
  html {
    @apply scroll-smooth;
    font-family: 'Manrope', serif;
  }
}

@layer components {
  .bg-hero {
    background-image: url('./src/assets/images/hero.jpg');
    background-color: rgba(121, 143, 151, 255);
    background-size: cover;
    background-position: 58% 100%;
    background-repeat: no-repeat;
  }
}
